@use '../../mixins/responsive.scss' as *;
@use '../../mixins/pseudo.scss' as *;

.logo {
  height: 35px;
  margin-right: auto;
  margin-bottom: 5px;
  @include responsive(tablet) {
    margin-bottom: 14px;
  }
}
.logo-inicio {
  width: 62%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  @include responsive(desktop) {
    max-width: 450px;
  }
}

.logo-footer {
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  @include responsive(tablet) {
    // max-height: 100px;
    margin-left: auto;
    margin-right: 0;
  }
  &__decoration {
  }
}
