@use '../../mixins/responsive.scss' as *;
@use '../../mixins/pseudo.scss' as *;

.home {
  --flow: 0.7rem;
  height: 100vh;
  min-height: 650px;
  width: 100%;
  background-image: url(/assets/images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  position: relative;
  &__text {
    padding-top: 1.5rem;
    padding-bottom: 1.4rem;
    text-align: center;
    width: 100%;
    line-height: 1.2;
    background-color: hsla(0 0% 5% / 0.85);
  }
  &__scroll {
    position: absolute;
    width: 40px;
    left: 50%;
    bottom: 100px;
    animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
      alternate both;
    @include responsive(laptop) {
      width: 60px;
    }
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 50px);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 50px);
  }
}
